<!doctype html>
<html lang="pl">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | SellEasy </title>
    
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script>
        function toggleMenu() {
            const menu = document.getElementById('mobile-menu');
            menu.classList.toggle('hidden');
        }
    </script>
</head>
<body class="bg-blue-50 text-blue-900 font-sans">
    <!-- Navigation Bar -->
    <nav class="py-6 px-6 flex justify-between items-center border-b border-blue-300 bg-blue-200">
        <a href="/" class="text-2xl font-semibold">
            <img src="{% static 'shopping-basket.png' %}" alt="SellEasy Logo" class="inline-block h-12 mr-2"> SellEasy 
        </a>

        <div class="hidden md:flex space-x-6 items-center">
            <a href="{% url 'item:new' %}" class="text-lg font-semibold hover:text-blue-700">Dodaj przedmiot</a>
            <a href="{% url 'item:items' %}" class="text-lg font-semibold hover:text-blue-700">Przeglądaj</a>

            {% if request.user.is_authenticated %}
                <a href="{% url 'conversation:inbox' %}" class="px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700">Skrzynka odbiorcza</a>
                <a href="{% url 'dashboard:index' %}" class="px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700">Moje przedmioty</a>
                <form class="inline"  action="{% url 'core:logout' %}" method="post"> 
                    {% csrf_token %} 
                    <button type="submit" class="px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700">Wyjdz</button>    
                </form>
            {% else %}
                <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700">Zarejestruj się</a>
                <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-600 text-white rounded-xl hover:bg-gray-700">Zaloguj się</a>
            {% endif %}
        </div>

        <!-- Hamburger Icon -->
        <button class="block md:hidden text-blue-600 focus:outline-none" onclick="toggleMenu()">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </nav>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="hidden md:hidden px-6 py-6 bg-blue-200 border-t border-blue-300">
        <a href="{% url 'item:new' %}" class="block text-lg font-semibold hover:text-blue-700 py-2">Dodaj przedmiot</a>
        <a href="{% url 'item:items' %}" class="block text-lg font-semibold hover:text-blue-700 py-2">Przeglądaj</a>

        {% if request.user.is_authenticated %}
            <a href="{% url 'conversation:inbox' %}" class="block px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700 my-2">Skrzynka odbiorcza</a>
            <a href="{% url 'dashboard:index' %}" class="block px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700 my-2">Moje przedmioty</a>
            <form class="block" action="{% url 'core:logout' %}" method="post"> 
                {% csrf_token %} 
                <button type="submit" class="block w-full px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700 my-2">Wyjdz</button>    
            </form>
        {% else %}
            <a href="{% url 'core:signup' %}" class="block px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700 my-2">Zarejestruj się</a>
            <a href="{% url 'core:login' %}" class="block px-6 py-3 text-lg font-semibold bg-gray-600 text-white rounded-xl hover:bg-gray-700 my-2">Zaloguj się</a>
        {% endif %}
    </div>

    <!-- Main Content -->
    <div class="px-6 py-8">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="py-6 px-6 flex flex-col md:flex-row justify-between bg-blue-800 text-white">
        <div class="w-full md:w-2/3 pr-10 mb-6 md:mb-0">
            <h3 class="mb-4 text-xl font-semibold">O nas</h3>
            <p class="text-lg">SellEasy to intuicyjna i przyjazna dla użytkownika platforma zaprojektowana w celu ułatwienia użytkownikom sprzedaży ich rzeczy. Tutaj każdy może szybko i bezpiecznie wystawić na sprzedaż dowolne towary, od ubrań i elektroniki po meble i przedmioty kolekcjonerskie. Platforma koncentruje się na łatwości użytkowania i przejrzystości transakcji.</p>
        </div>
        <div class="w-full md:w-1/3">
            <h3 class="mb-4 text-xl font-semibold">Menu</h3>
            <ul class="space-y-2">
                <li><a href="{% url 'core:contact' %}" class="text-lg hover:text-blue-200">Kontakt</a></li>
                <li><a href="{% static 'polityka_prywatnosci.pdf' %}" download class="text-lg hover:text-blue-200">Polityka prywatności</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
