{% extends 'core/base.html' %}

{% block title %}Kontakt{% endblock %}

{% block content %}
    <div class="px-6 py-8 bg-blue-50 rounded-xl">
        <h1 class="text-3xl font-semibold text-blue-800 mb-6">Strona kontaktowa</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
                <h2 class="text-xl font-semibold text-blue-800 mb-4">Informacje kontaktowe</h2>
                <p class="text-lg text-blue-700"><strong>Adres:</strong> ul. Przykładowa 123, 00-000 Warszawa</p>
                <p class="text-lg text-blue-700"><strong>Telefon:</strong> +48 123 456 789</p>
                <p class="text-lg text-blue-700"><strong>Email:</strong> kontakt@bajoro.pl</p>
            </div>

            <div>
                <h2 class="text-xl font-semibold text-blue-800 mb-4">Formularz kontaktowy</h2>
      <form action="#" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="name" class="block text-lg text-blue-700">Imię i nazwisko:</label>
                        <input type="text" id="name" name="name" class="w-full px-4 py-2 rounded-lg border border-blue-300 focus:outline-none focus:border-blue-500" required>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block text-lg text-blue-700">Email:</label>
                        <input type="email" id="email" name="email" class="w-full px-4 py-2 rounded-lg border border-blue-300 focus:outline-none focus:border-blue-500" required>
                    </div>
                    <div class="mb-4">
                        <label for="message" class="block text-lg text-blue-700">Wiadomość:</label>
                        <textarea id="message" name="message" rows="4" class="w-full px-4 py-2 rounded-lg border border-blue-300 focus:outline-none focus:border-blue-500" required></textarea>
                    </div>
                    <button type="submit" class="px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-700">Wyślij</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
