{% extends 'core/base.html' %}
{% load static %}
{% block title %}Witaj{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-blue-50 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Najnowsze przedmioty</h2>

        <div class="grid grid-cols-6 gap-3">
            {% for item in items %}
                <div class="shadow-lg rounded-xl overflow-hidden" >
                    <a href="{% url 'item:detail' item.id %}">
                        <div class="w-full h-80">
                            <img src="{{ item.image.url }}" class="object-cover w-full h-full">
                        </div>
			<div>	
<div class="flex flex-col justify-between bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold truncate text-gray-900">{{ item.name }}</h2>
    <p class="text-blue-700 mt-4 text-xl font-medium">{{ item.price }} zł</p>
</div>
                        </div>

                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

  {% endblock %}
