{% extends 'core/base.html' %}
{% load static %}
{% block title %}Polityka prywatności{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-blue-50 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Polityka Prywatności</h2>

        <div class="prose">
            <h3 class="text-xl mb-4">1. Wprowadzenie</h3>
            <p>Twoja prywatność jest dla nas bardzo ważna. Niniejsza polityka prywatności wyjaśnia, jakie informacje zbieramy, jak je wykorzystujemy i jakie masz prawa w związku z Twoimi danymi osobowymi.</p>

            <h3 class="text-xl mb-4">2. Jakie dane zbieramy</h3>
            <p>Możemy zbierać następujące informacje:</p>
            <ul class="list-disc list-inside">
                <li>Imię i nazwisko</li>
                <li>Adres e-mail</li>
                <li>Numer telefonu</li>
                <li>Adres IP</li>
                <li>Informacje o przeglądarce i urządzeniu</li>
            </ul>

            <h3 class="text-xl mb-4">3. Jak wykorzystujemy Twoje dane</h3>
            <p>Twoje dane mogą być wykorzystywane do:</p>
            <ul class="list-disc list-inside">
                <li>Świadczenia naszych usług</li>
                <li>Komunikacji z Tobą</li>
                <li>Polepszania naszych usług</li>
                <li>Analizy statystycznej</li>
            </ul>

            <h3 class="text-xl mb-4">4. Udostępnianie danych</h3>
            <p>Nie udostępniamy Twoich danych osobom trzecim bez Twojej zgody, z wyjątkiem przypadków wymaganych prawem.</p>

            <h3 class="text-xl mb-4">5. Twoje prawa</h3>
            <p>Masz prawo do:</p>
            <ul class="list-disc list-inside">
                <li>Dostępu do swoich danych</li>
                <li>Poprawiania swoich danych</li>
                <li>Usuwania swoich danych</li>
                <li>Ograniczenia przetwarzania danych</li>
                <li>Sprzeciwu wobec przetwarzania danych</li>
            </ul>

            <h3 class="text-xl mb-4">6. Zmiany w polityce prywatności</h3>
            <p>Możemy aktualizować niniejszą politykę prywatności od czasu do czasu, publikując nowe wersje na naszej stronie internetowej. Prosimy o regularne sprawdzanie tej strony, aby być na bieżąco z wszelkimi zmianami.</p>

            <h3 class="text-xl mb-4">7. Kontakt</h3>
            <p>Jeśli masz jakiekolwiek pytania dotyczące tej polityki prywatności lub sposobu, w jaki przetwarzamy Twoje dane, prosimy o kontakt pod adresem e-mail: <a href="mailto:kontakt@przyklad.pl" class="text-blue-700">kontakt@przyklad.pl</a>.</p>
        </div>
    </div>
{% endblock %}
