{% extends 'core/base.html' %}

{% block title %}Zarejestruj się{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-blue-50 rounded-xl">
    <h1 class="mb-6 text-3xl text-blue-800">Zarejestruj się</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label for="username" class="inline-block mb-2 text-blue-800">Nazwa użytkownika</label><br>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label for="email" class="inline-block mb-2 text-blue-800">Email</label><br>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label for="password1" class="inline-block mb-2 text-blue-800">Hasło</label><br>
            {{ form.password1 }}
        </div>

        <div class="mb-3">
            <label for="password2" class="inline-block mb-2 text-blue-800">Powtórz hasło</label><br>
            {{ form.password2 }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button class="py-4 px-8 text-lg bg-blue-600 hover:bg-blue-700 rounded-xl text-white">Zarejestruj</button>
    </form>
</div>
{% endblock %}
