{% extends 'core/base.html' %}

{% block title %}Rozmowa{% endblock %}

{% block content %}
<h1 class="mb-6 text-3xl text-blue-800">Rozmowa</h1>

<div id="messageContainer" class="bg-white rounded-xl shadow-md p-6" style="height: 400px; overflow-y: auto;">
    <div id="messageContent" class="h-full overflow-y-auto space-y-6">
        {% for message in conversation.messages.all %}
            <div class="flex {% if message.created_by == request.user %}justify-end{% else %}justify-start{% endif %}">
                <div class="p-4 max-w-xl {% if message.created_by == request.user %}bg-blue-100{% else %}bg-gray-100{% endif %} rounded-xl shadow-md">
                    <p class="mb-2 text-sm text-gray-500"><strong>{{ message.created_by.username }}</strong> @ {{ message.created_at }}</p>
                    <p>{{ message.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<form id="messageForm" method="post" action=".">
    {% csrf_token %}

    <div class="mb-4">
        <label for="content" class="block text-lg text-blue-800">Treść wiadomości:</label>
        <textarea id="content" name="content" rows="4" class="w-full px-4 py-2 rounded-lg border border-blue-300 focus:outline-none focus:border-blue-500" required></textarea>
    </div>

    <button type="submit" class="py-4 px-8 text-lg bg-blue-600 hover:bg-blue-700 rounded-xl text-white">Wyślij</button>
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Обработчик отправки формы через AJAX
    document.getElementById('messageForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Предотвращаем стандартное поведение отправки формы
        var formData = new FormData(this); // Получаем данные формы
        fetch(this.action, {
            method: this.method,
            body: formData,
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken') // Передаем CSRF токен
            }
        })
        .then(response => {
            if (response.ok) {
                // Если запрос успешен, можно выполнить необходимые действия, например, очистить поле ввода
                document.getElementById('content').value = '';
                // Обновляем страницу после успешной отправки
                location.reload();
            } else {
                throw new Error('Ошибка ' + response.status);
            }
        })
        .catch(error => console.error('Ошибка:', error));
    });

    // После обновления страницы прокручиваем вниз
    window.onload = function() {
        var messageContent = document.getElementById('messageContent');
        messageContent.scrollTop = messageContent.scrollHeight;
    };
});
</script>

{% endblock %}
