{% extends 'core/base.html' %}

{% block title %}Skrzynka odbiorcza{% endblock %}

{% block content %}
<h1 class="mb-6 text-3xl text-blue-800">Skrzynka odbiorcza</h1>

<div class="space-y-6">
    {% for conversation in conversations %}
        <div class="flex">
            <a href="{% url 'item:detail' conversation.item.id %}">
                <div class="p-6 flex bg-blue-50 rounded-xl">
                    <div class="pr-6">
                        <img src="{{ conversation.item.image.url }}" class="w-20 rounded-xl">
                    </div>
                </div>
            </a>
            <a href="{% url 'conversation:detail' conversation.id %}">
                <div class="p-6 flex bg-blue-50 rounded-xl">
                    <div>
                        {% for member in conversation.members.all %}
                            {% if member != request.user %}
                                <p class="mb-4"><strong>{{ member.username }}</strong> | {{ conversation.modified_at }}</p>
                                <p>{{ conversation.item.name }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
