{% extends 'core/base.html' %}

{% block title %}Nowa rozmowa{% endblock %}

{% block content %}
<h1 class="mb-6 text-3xl text-blue-800">Nowa rozmowa</h1>

<form method="post" action=".">
    {% csrf_token %}

    <div class="space-y-4">
    {{ form.as_p}}
   </div>

    {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <button class="mt-6 py-4 px-8 text-lg bg-blue-600 hover:bg-blue-700 rounded-xl text-white">Wyślij</button>
</form>
{% endblock %}
