{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-4 gap-6">
    <div class="col-span-1 mx-auto">
        <div class="w-full h-96">
            <img src="{{ item.image.url }}" class="object-cover w-full h-full rounded-xl">
        </div>
    </div>

    <div class="col-span-3 p-6 bg-blue-200 rounded-xl text-blue-800">
        <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
        <p class="text-gray-700"><strong>Cena: </strong>{{ item.price }} zł</p>
        <p class="text-gray-700"><strong>Sprzedawca: </strong>{{ item.created_by.username }}</p>
    
        {% if item.description %}
            <p class="text-gray-700">
                <strong class="text-gray-500">Opis:</strong><br>
                {{ item.description }}
            </p>
        {% endif %}

        {% if request.user == item.created_by %}
            <div class="mt-6 p-6 bg-white rounded-xl text-blue-800">
                <p>To jest twój przedmiot!</p>

                <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700">Edytuj</a>
                <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl hover:bg-red-700">Usuń</a>
            </div>
        {% else %}  
            <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700">Skontaktuj się ze sprzedawcą</a>
        {% endif %}
    </div>
</div>

<div class="mt-12 px-6 py-12 bg-blue-200 rounded-xl text-blue-800">
    <h2 class="mb-12 text-2xl text-center">Podobne przedmioty</h2>

    <div class="grid grid-cols-6 gap-6">
        {% for item in related_items %}
            <div class="shadow-lg rounded-xl overflow-hidden">
                <a href="{% url 'item:detail' item.id %}">
                    <div class="w-full h-56">
                        <img src="{{ item.image.url }}" class="object-cover w-full h-full">
                    </div>

                    <div class="p-6 bg-gray-100">
                        <h2 class="text-2xl font-semibold truncate">{{ item.name }}</h2>
                        <p class="text-blue-700 mt-2">{{ item.price }} zł</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
