{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="mt-6 px-6 py-12 bg-blue-50 rounded-xl">
    <h1 class="mb-6 text-3xl text-blue-800">{{ title }}</h1>

    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}

        <div class="space-y-4">
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small class="text-gray-500">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-500">{{ field.errors }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button class="mt-6 py-4 px-8 text-lg bg-blue-600 hover:bg-blue-700 rounded-xl text-white">Wyślij</button>
    </form>
</div>
{% endblock %}
