{% extends 'core/base.html' %}

{% block title %}Przedmioty{% endblock %}
{% load static %}
{% block content %}
<div class="pb-6 grid grid-cols-7 gap-4 bg-blue-50">
    <div class="col-span-2">
        <form method="get" action="{% url 'item:items' %}">
            <input name="query" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Znajdź rower, krzesło lub samochód...">
            <button class="mt-2 py-4 px-8 text-lg bg-blue-600 text-white rounded-xl hover:bg-blue-700">Szukaj</button>
        </form>
        <hr class="my-6">
        <p class="font-semibold text-blue-800">Kategorie</p>
        <ul>
            {% for category in categories %}
                <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-blue-200{% endif %}" data-url="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">
                    <span class="text-blue-800 cursor-pointer">{{ category.name }}</span>
                </li>
            {% endfor %}
        </ul>
        <hr class="my-6">
        <p class="font-semibold text-blue-800">Wyczyść filtry</p>
        <ul>
            <li data-url="{% url 'item:items' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white cursor-pointer">Wyczyść</li>
        </ul>
    </div>

    <div class="col-span-5">
        <div class="grid grid-cols-5 gap-3">
            {% for item in items %}
                <div>
                    <a href="{% url 'item:detail' item.id %}">
                        <div class="relative">
                            <img src="{{ item.image.url }}" class="w-full h-56 object-cover object-center" alt="{{ item.name }}">
                            <span class="absolute top-0 right-0 bg-blue-500 text-white py-1 px-3 rounded-tr-lg rounded-bl-lg text-xs font-semibold">{{ item.category }}</span>
                        </div>
                        <div class="p-6 bg-gray-50 rounded-b-xl">
                            <h2 class="text-2xl text-blue-800 font-semibold truncate">{{ item.name }}</h2>
                            <p class="text-blue-700 mt-2">{{ item.price }} zł</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if items.has_other_pages %}
            <div class="mt-6 flex justify-center">
                <ul class="flex space-x-2">
                    {% if items.has_previous %}
                        <li><a href="?page=1"><img src="{% static 'left.png' %}" alt="Previous" style="width: 30px; height: 20px;"></a></li>
                        <li><a href="?page={{ items.previous_page_number }}"><img src="{% static 'left-arrow.png' %}" alt="Previous" style="width: 20px; height: 20px;"></a></li>
                    {% endif %}
                    {% for num in items.paginator.page_range %}
                        {% if num == items.number %}
                            <li><span class="py-2 px-4 bg-blue-600 text-white rounded-lg">{{ num }}</span></li>
                        {% else %}
                            <li><a href="?page={{ num }}" class="py-2 px-4 bg-blue-200 text-blue-800 rounded-lg hover:bg-blue-300 focus:outline-none focus:bg-blue-300">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                        <li><a href="?page={{ items.next_page_number }}"><img src="{% static 'right-arrow.png' %}" alt="Next" style="width: 30px; height: 20px;"></a></li>
                        <li><a href="?page={{ items.paginator.num_pages }}"><img src="{% static 'right.png' %}" alt="Next" style="width: 20px; height: 20px;"></a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('li[data-url]').forEach(function(li) {
            li.addEventListener('click', function() {
                window.location.href = li.getAttribute('data-url');
            });
        });
    });
</script>
{% endblock %}
