{% extends 'core/base.html' %}

{% block title %}Moje przedmioty{% endblock %}
{% load static %}
{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Moje przedmioty</h2>

        <div class="grid grid-cols-5 gap-6">
            {% for item in items %}
                <div class="shadow-lg rounded-xl overflow-hidden">
                    <a href="{% url 'item:detail' item.id %}">
                        <div class="aspect-w-16 aspect-h-9">
                            <img src="{{ item.image.url }}" class="object-cover w-full h-full">
                        </div>

                        <div class="p-6 bg-gray-50">
                            <h2 class="text-2xl font-semibold">{{ item.name }}</h2>
                            <p class="text-blue-700 mt-2">{{ item.price }} zł</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        {% if items.has_other_pages %}
            <div class="mt-8 flex justify-center">
                <ul class="flex space-x-4">
                    {% if items.has_previous %}
 <li><a href="?page=1" ><img src="{% static 'left.png' %}" alt="Previous" style="width: 30px; height: 20px;"></a></li>
        <li><a href="?page={{ items.previous_page_number }}" ><img src="{% static 'left-arrow.png' %}" alt="Previous" style="width: 20px; height: 20px;"></a></li>


                    {% endif %}
                    
                    {% for num in items.paginator.page_range %}
                        {% if num == items.number %}
                            <li><span class="py-2 px-4 bg-blue-600 text-white rounded-lg">{{ num }}</span></li>
                        {% else %}
                            <li><a href="?page={{ num }}" class="py-2 px-4 bg-blue-200 text-blue-800 rounded-lg hover:bg-blue-300 focus:outline-none focus:bg-blue-300">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if items.has_next %}
 <li><a href="?page={{ items.next_page_number }}" ><img src="{% static 'right-arrow.png' %}" alt="Next" style="width: 30px; height: 20px;"></a></li>

                       <li><a href="?page={{ items.paginator.num_pages }}" ><img src="{% static 'right.png' %}" alt="Next" style="width: 20px; height: 20px;"></a></li>

                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
